<%- include('header.ejs') %> 
<form method="POST">
	<label for="username">Username</label>
	<input type="text" name="username" id="username" />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" />
	<label for="confirm">Confirm Password</label>
	<input type="password" name="confirm" id="confirm" />
	<button type="submit">Sign Up</button>
</form>
<% if (errors) { %>
	<div class="errors">
		<% errors.forEach(error => { %>
		<p><%= error.msg %></p>
		<% }); %>
	</div>
<% } %>
<%- include('footer.ejs') %> 
